* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

@font-face {
  font-family: "roboto-light";
  src: url(../fonts/Roboto-Light.ttf);
}
body {
  background: darkgreen;
  overflow-x: hidden;
}

header {
  height: 100vh;
  position: relative;
}
header .header-bg {
  height: 100vh;
}
header .header-bg video {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .link {
  position: absolute;
  top: 20px;
  right: 20px;
}
header .link a {
  color: #fd3a7f;
  font-family: "roboto-light";
  font-size: 0.9rem;
  font-weight: 800;
}
header nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(11, 11, 4, 0.8196078431);
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav ul li {
  font-family: "roboto-light";
  color: #b4b4b2;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
  border-right: 1px solid rgba(180, 180, 178, 0.2196078431);
  margin-right: 10px;
  padding: 20px 20px;
  cursor: pointer;
}
header nav .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav .nav-left .logo {
  height: 60px;
  width: 100px;
  background: url(../../assets/images/logo.png) center/cover;
  border-right: 1px solid rgba(180, 180, 178, 0.2196078431);
}
header nav .nav-middle {
  height: 100px;
  position: relative;
  bottom: 10px;
  width: 20%;
}
header nav .nav-middle button {
  margin: 0 auto;
  border: none;
  height: 90px;
  width: 300px;
  background: url(../../assets/images/btn-play1.png) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: "roboto-light";
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;
}
header nav .nav-middle button span {
  font-size: 1rem;
}
header nav .nav-right ul li:first-of-type {
  border-left: 1px solid rgba(180, 180, 178, 0.2196078431);
}

section.legende {
  background: url(../images/bg-block2-1.jpg) center/cover;
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.legende button.prev,
section.legende button.suiv {
  height: 211px;
  width: 78px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
section.legende button.prev {
  background: url(../images/carousel-prev_02.png);
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}
section.legende button.prev:hover {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
section.legende div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.legende div div.text {
  margin: 0 auto;
  height: 605px;
  width: 750px;
  background: url(../images/bg-text-1.png) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8% 0 8%;
}
section.legende div div.text h2 {
  font-family: "roboto-light";
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 80px 0 50px 0;
  text-align: center;
}
section.legende div div.text p {
  text-align: center;
  font-family: "roboto-light";
  color: #b4b4b2;
  font-size: 1rem;
}
section.legende div div.text p:first-of-type {
  margin-bottom: 10px;
}
section.legende div ul {
  background: url(../images/bg-slick-dot.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64px;
  height: 39px;
  position: relative;
}
section.legende div ul::before {
  position: absolute;
  left: -18px;
  content: "";
  height: 39px;
  width: 18px;
  background: url(../images/bg-slick-left.png);
}
section.legende div ul::after {
  position: absolute;
  right: -18px;
  content: "";
  height: 39px;
  width: 18px;
  background: url(../images/bg-slick-right.png);
}
section.legende div ul li button {
  border: none;
  background: url(../images/slick-dot.png) right/cover;
  width: 22.5px;
  height: 27px;
  cursor: pointer;
}
section.legende div ul li:first-of-type button {
  background: url(../images/slick-dot.png) left/cover;
}
section.legende button.suiv {
  background: url(../images/carousel-next_02.png);
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
section.legende button.suiv:hover {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

section.video {
  height: 730px;
  width: 100%;
  background: url(../images/bg-carousel-screen.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8%;
}
section.video > div:first-of-type {
  height: 100%;
  width: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.video > div:first-of-type .button-container-left {
  width: 100%;
  height: 450px;
  background: url(../images/bg-screens.png) right/cover;
  padding: 11% 3% 3% 0;
}
section.video > div:first-of-type .button-container-left .left-img {
  width: 100%;
  height: 100%;
  background: url(../images/Screens_dofus_7.jpg) right/cover;
}
section.video > div:first-of-type .button-container-left button {
  position: absolute;
  height: 211px;
  width: 78px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: url(../images/carousel-prev_02.png);
  left: -10px;
  -webkit-transform: translateY(-145%);
          transform: translateY(-145%);
}
section.video > div:first-of-type .button-container-left button:hover {
  left: 0;
}
section.video > div:nth-of-type(2) {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.video > div:nth-of-type(2) .video-container {
  width: 100%;
  height: 600px;
  background: url(../images/bg-video.png) center/cover;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 1% 1% 1%;
}
section.video > div:nth-of-type(2) .video-container iframe {
  width: 100%;
  height: 100%;
}
section.video > div:nth-of-type(2) ul {
  background: url(../images/bg-slick-dot.png);
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 39px;
  position: relative;
}
section.video > div:nth-of-type(2) ul::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 39px;
  background: url(../images/bg-slick-left.png);
  left: -18px;
}
section.video > div:nth-of-type(2) ul::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 39px;
  background: url(../images/bg-slick-right.png);
  right: -18px;
}
section.video > div:nth-of-type(2) ul li button {
  border: none;
  width: 22.5px;
  height: 27px;
  cursor: pointer;
  background: url(../images/slick-dot.png) right/cover;
}
section.video > div:nth-of-type(2) ul li:first-of-type button {
  background: url(../images/slick-dot.png) left/cover;
}
section.video > div:nth-of-type(3) {
  height: 100%;
  width: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.video > div:nth-of-type(3) .button-container-right {
  position: relative;
  width: 100%;
  height: 450px;
  background: url(../images/bg-screens.png) left/cover;
  padding: 11% 0 3% 3%;
}
section.video > div:nth-of-type(3) .button-container-right .right-img {
  width: 100%;
  height: 100%;
  background: url(../images/Screens_dofus_1.jpg) left/cover;
}
section.video > div:nth-of-type(3) .button-container-right button {
  position: absolute;
  height: 211px;
  width: 78px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: url(../images/carousel-next_02.png);
  right: -10px;
  -webkit-transform: translateY(-145%);
          transform: translateY(-145%);
}
section.video > div:nth-of-type(3) .button-container-right button:hover {
  right: 0;
}/*# sourceMappingURL=index.css.map */