section.legende {
  background: url(../images/bg-block2-1.jpg) center/cover;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;

  button.prev,
  button.suiv {
    height: 211px;
    width: 78px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
  }

  button.prev {
    background: url(../images/carousel-prev_02.png);
    transform: translateX(-10px);
    &:hover {
      transform: translateX(0px);
    }
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;

    div.text {
      margin: 0 auto;
      height: 605px;
      width: 815px;
      background: url(../images/bg-text-1.png) center/cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 13% 0 13%;

      h2 {
        font-family: $font1;
        color: white;
        text-transform: uppercase;
        font-size: 2rem;
        margin: 80px 0 50px 0;
      }

      p {
        text-align: center;
        font-family: $font1;
        color: $color4;
        font-size: 1rem;

        &:first-of-type {
          margin-bottom: 10px;
        }
      }
    }
    ul {
      background: url(../images/bg-slick-dot.png);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 64px;
      height: 39px;
      position: relative;
      &::before {
        position: absolute;
        left: -18px;
        content: "";
        height: 39px;
        width: 18px;
        background: url(../images/bg-slick-left.png);
      }
      &::after {
        position: absolute;
        right: -18px;
        content: "";
        height: 39px;
        width: 18px;
        background: url(../images/bg-slick-right.png);
      }
      li {
        button {
          border: none;
          background: url(../images/slick-dot.png) right/cover;
          width: 22.5px;
          height: 27px;
          cursor: pointer;
        }
        &:first-of-type button {
          background: url(../images/slick-dot.png) left/cover;
        }
      }
    }
  }

  button.suiv {
    background: url(../images/carousel-next_02.png);
    transform: translateX(10px);
    &:hover {
      transform: translateX(0px);
    }
  }
}
